In [47]:
# Importing the required libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
# from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_curve , auc
from sklearn.metrics import r2_score,mean_squared_error
from scipy.stats import zscore
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

In [2]:
# Reading the dataset:
df = pd.read_csv("C:\\Users\\Aniket Sawant\\Desktop\\DATASETS\\SHORT LIST\\Capstone project\\PUMP SENSORS.csv")
df.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [4]:
df.tail()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
220315,220315,2018-08-31 23:55:00,2.407350,47.69965,50.520830,43.142361,634.722229,64.59095,15.11863,16.65220,...,38.28125,68.28703,52.37268,48.32176,41.087960,212.3843,153.6458,NaN,231.1921,NORMAL
220316,220316,2018-08-31 23:56:00,2.400463,47.69965,50.564240,43.142361,630.902771,65.83363,15.15480,16.70284,...,38.28125,66.84028,50.63657,48.03241,40.798610,213.8310,156.2500,NaN,231.1921,NORMAL
220317,220317,2018-08-31 23:57:00,2.396528,47.69965,50.520830,43.142361,625.925903,67.29445,15.08970,16.70284,...,39.06250,65.39352,48.90046,48.03241,40.798610,217.3032,155.3819,NaN,232.0602,NORMAL
220318,220318,2018-08-31 23:58:00,2.406366,47.69965,50.520832,43.142361,635.648100,65.09175,15.11863,16.56539,...,40.62500,64.23611,47.74306,48.32176,40.509258,222.5116,153.9352,NaN,234.0856,NORMAL
220319,220319,2018-08-31 23:59:00,2.396528,47.69965,50.520832,43.142361,639.814800,65.45634,15.11863,16.65220,...,41.40625,62.78935,46.29630,48.90046,40.219910,227.4306,150.4630,NaN,234.0856,NORMAL

In [5]:
df.describe()

,Unnamed: 0,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,...,sensor_42,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51
count,220320.000000,210112.000000,219951.000000,220301.000000,220301.000000,220301.000000,220301.000000,215522.000000,214869.000000,215213.000000,...,220293.000000,220293.000000,220293.000000,220293.000000,220293.000000,220293.000000,220293.000000,220293.000000,143303.000000,204937.000000
mean,110159.500000,2.372221,47.591611,50.867392,43.752481,590.673936,73.396414,13.501537,15.843152,15.200721,...,35.453455,43.879591,42.656877,43.094984,48.018585,44.340903,150.889044,57.119968,183.049260,202.699667
std,63601.049991,0.412227,3.296666,3.666820,2.418887,144.023912,17.298247,2.163736,2.201155,2.037390,...,10.259521,11.044404,11.576355,12.837520,15.641284,10.442437,82.244957,19.143598,65.258650,109.588607
min,0.000000,0.000000,0.000000,33.159720,31.640620,2.798032,0.000000,0.014468,0.000000,0.028935,...,22.135416,24.479166,25.752316,26.331018,26.331018,27.199070,26.331018,26.620370,27.488426,27.777779
25%,55079.750000,2.438831,46.310760,50.390620,42.838539,626.620400,69.976260,13.346350,15.907120,15.183740,...,32.812500,39.583330,36.747684,36.747684,40.509258,39.062500,83.912030,47.743060,167.534700,179.108800
50%,110159.500000,2.456539,48.133678,51.649300,44.227428,632.638916,75.576790,13.642940,16.167530,15.494790,...,35.156250,42.968750,40.509260,40.219910,44.849540,42.534720,138.020800,52.662040,193.865700,197.338000
75%,165239.250000,2.499826,49.479160,52.777770,45.312500,637.615723,80.912150,14.539930,16.427950,15.697340,...,36.979164,46.614580,45.138890,44.849540,51.215280,46.585650,208.333300,60.763890,219.907400,216.724500
max,220319.000000,2.549016,56.727430,56.032990,48.220490,800.000000,99.999880,22.251160,23.596640,24.348960,...,374.218800,408.593700,1000.000000,320.312500,370.370400,303.530100,561.632000,464.409700,1000.000000,1000.000000

In [5]:
"""
From the dataset it is clearly seen that the data from about 50 sensors is recorded after every 1 min for a time period of 
about 4 months. And this data also includes the running condition of pump,which is to be considered as the target varibale.
But in real life situations there are multiple factors which contirbute towards malfunctioning of a pump which are not 
considered in this data set. And this can't be the idle data for predicting the operating condition of the pump.
Further, this data may also consider certain outliers in it.But in this case we can't drop the outliers because these might 
be the cases when the pumps are malfunctioning. So we will have to use models which are not impacted by outliers.

"""

"\nFrom the dataset it is clearly seen that the data from about 50 sensors is recorded after every 1 min for a time period of \nabout 4 months. And this data also includes the running condition of pump,which is to be considered as the target varibale.\nBut in real life situations there are multiple factors which contirbute towards malfunctioning of a pump which are not \nconsidered in this data set. And this can't be the idle data for predicting the operating condition of the pump.\nFurther, this data may also consider certain outliers in it.But in this case we can't drop the outliers because these might \nbe the cases when the pumps are malfunctioning. So we will have to use models which are not impacted by outliers.\n\n"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220320 entries, 0 to 220319
Data columns (total 55 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      220320 non-null  int64
 1   timestamp       220320 non-null  object
 2   sensor_00       210112 non-null  float64
 3   sensor_01       219951 non-null  float64
 4   sensor_02       220301 non-null  float64
 5   sensor_03       220301 non-null  float64
 6   sensor_04       220301 non-null  float64
 7   sensor_05       220301 non-null  float64
 8   sensor_06       215522 non-null  float64
 9   sensor_07       214869 non-null  float64
 10  sensor_08       215213 non-null  float64
 11  sensor_09       215725 non-null  float64
 12  sensor_10       220301 non-null  float64
 13  sensor_11       220301 non-null  float64
 14  sensor_12       220301 non-null  float64
 15  sensor_13       220301 non-null  float64
 16  sensor_14       220299 non-null  float64
 17  sensor_15       0 non-null       float64
 18  sensor_16       220289 non-null  float64
 19  sensor_17       220274 non-null  float64
 20  sensor_18       220274 non-null  float64
 21  sensor_19       220304 non-null  float64
 22  sensor_20       220304 non-null  float64
 23  sensor_21       220304 non-null  float64
 24  sensor_22       220279 non-null  float64
 25  sensor_23       220304 non-null  float64
 26  sensor_24       220304 non-null  float64
 27  sensor_25       220284 non-null  float64
 28  sensor_26       220300 non-null  float64
 29  sensor_27       220304 non-null  float64
 30  sensor_28       220304 non-null  float64
 31  sensor_29       220248 non-null  float64
 32  sensor_30       220059 non-null  float64
 33  sensor_31       220304 non-null  float64
 34  sensor_32       220252 non-null  float64
 35  sensor_33       220304 non-null  float64
 36  sensor_34       220304 non-null  float64
 37  sensor_35       220304 non-null  float64
 38  sensor_36       220304 non-null  float64
 39  sensor_37       220304 non-null  float64
 40  sensor_38       220293 non-null  float64
 41  sensor_39       220293 non-null  float64
 42  sensor_40       220293 non-null  float64
 43  sensor_41       220293 non-null  float64
 44  sensor_42       220293 non-null  float64
 45  sensor_43       220293 non-null  float64
 46  sensor_44       220293 non-null  float64
 47  sensor_45       220293 non-null  float64
 48  sensor_46       220293 non-null  float64
 49  sensor_47       220293 non-null  float64
 50  sensor_48       220293 non-null  float64
 51  sensor_49       220293 non-null  float64
 52  sensor_50       143303 non-null  float64
 53  sensor_51       204937 non-null  float64
 54  machine_status  220320 non-null  object
dtypes: float64(52), int64(1), object(2)
memory usage: 92.5+ MB

## Cleaning & Pre-processing of data.

In [7]:
# Need to check the null values in the data. 
df.isnull().sum()

Unnamed: 0             0
timestamp              0
sensor_00          10208
sensor_01            369
sensor_02             19
sensor_03             19
sensor_04             19
sensor_05             19
sensor_06           4798
sensor_07           5451
sensor_08           5107
sensor_09           4595
sensor_10             19
sensor_11             19
sensor_12             19
sensor_13             19
sensor_14             21
sensor_15         220320
sensor_16             31
sensor_17             46
sensor_18             46
sensor_19             16
sensor_20             16
sensor_21             16
sensor_22             41
sensor_23             16
sensor_24             16
sensor_25             36
sensor_26             20
sensor_27             16
sensor_28             16
sensor_29             72
sensor_30            261
sensor_31             16
sensor_32             68
sensor_33             16
sensor_34             16
sensor_35             16
sensor_36             16
sensor_37             16
sensor_38             27
sensor_39             27
sensor_40             27
sensor_41             27
sensor_42             27
sensor_43             27
sensor_44             27
sensor_45             27
sensor_46             27
sensor_47             27
sensor_48             27
sensor_49             27
sensor_50          77017
sensor_51          15383
machine_status         0
dtype: int64

In [8]:
# As it is clearly seen that the Sensor_15 has all null valuee. So droping it will not have any impact on the final result.
df.drop('sensor_15',axis = 1, inplace = True)
df.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [9]:
#In addition to this it is considered that the unamed,timestamp columns dont have any impact on operating condition of pump
df.drop(['Unnamed: 0','timestamp'],axis=1,inplace= True)
df.head()

,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,15.61777,15.01013,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,15.69734,15.08247,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,15.69734,15.08247,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [10]:
# Focusing on the target variable :
df['machine_status'].value_counts()

NORMAL        205836
RECOVERING     14477
BROKEN             7
Name: machine_status, dtype: int64

In [11]:
"""  
As it is clearly seen here there are three wroking status for the machine the recovering & the broken status can be 
considered as abnormal and we will convert both these categories into abnormal status.
"""

'  \nAs it is clearly seen here there are three wroking status for the machine the recovering & the broken status can be \nconsidered as abnormal and we will convert both these categories into abnormal status.\n'

In [12]:
# Before perfoming an operation we will create a copy of the dataset.
df_a = df
df_a['machine_status'].replace('RECOVERING','ABNORMAL',inplace = True)
df_a['machine_status'].replace('BROKEN','ABNORMAL',inplace =True)
df_a['machine_status'].value_counts()

NORMAL      205836
ABNORMAL     14484
Name: machine_status, dtype: int64

In [13]:
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220320 entries, 0 to 220319
Data columns (total 52 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   sensor_00       210112 non-null  float64
 1   sensor_01       219951 non-null  float64
 2   sensor_02       220301 non-null  float64
 3   sensor_03       220301 non-null  float64
 4   sensor_04       220301 non-null  float64
 5   sensor_05       220301 non-null  float64
 6   sensor_06       215522 non-null  float64
 7   sensor_07       214869 non-null  float64
 8   sensor_08       215213 non-null  float64
 9   sensor_09       215725 non-null  float64
 10  sensor_10       220301 non-null  float64
 11  sensor_11       220301 non-null  float64
 12  sensor_12       220301 non-null  float64
 13  sensor_13       220301 non-null  float64
 14  sensor_14       220299 non-null  float64
 15  sensor_16       220289 non-null  float64
 16  sensor_17       220274 non-null  float64
 17  sensor_18       220274 non-null  float64
 18  sensor_19       220304 non-null  float64
 19  sensor_20       220304 non-null  float64
 20  sensor_21       220304 non-null  float64
 21  sensor_22       220279 non-null  float64
 22  sensor_23       220304 non-null  float64
 23  sensor_24       220304 non-null  float64
 24  sensor_25       220284 non-null  float64
 25  sensor_26       220300 non-null  float64
 26  sensor_27       220304 non-null  float64
 27  sensor_28       220304 non-null  float64
 28  sensor_29       220248 non-null  float64
 29  sensor_30       220059 non-null  float64
 30  sensor_31       220304 non-null  float64
 31  sensor_32       220252 non-null  float64
 32  sensor_33       220304 non-null  float64
 33  sensor_34       220304 non-null  float64
 34  sensor_35       220304 non-null  float64
 35  sensor_36       220304 non-null  float64
 36  sensor_37       220304 non-null  float64
 37  sensor_38       220293 non-null  float64
 38  sensor_39       220293 non-null  float64
 39  sensor_40       220293 non-null  float64
 40  sensor_41       220293 non-null  float64
 41  sensor_42       220293 non-null  float64
 42  sensor_43       220293 non-null  float64
 43  sensor_44       220293 non-null  float64
 44  sensor_45       220293 non-null  float64
 45  sensor_46       220293 non-null  float64
 46  sensor_47       220293 non-null  float64
 47  sensor_48       220293 non-null  float64
 48  sensor_49       220293 non-null  float64
 49  sensor_50       143303 non-null  float64
 50  sensor_51       204937 non-null  float64
 51  machine_status  220320 non-null  object
dtypes: float64(51), object(1)
memory usage: 87.4+ MB

In [14]:
# As it is clearly seen that the target variable is of the dtype object we need to convert it.
labelencoder_X = LabelEncoder()
df_a.iloc[:,51] = labelencoder_X.fit_transform(df_a.iloc[:,51])

In [15]:
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220320 entries, 0 to 220319
Data columns (total 52 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   sensor_00       210112 non-null  float64
 1   sensor_01       219951 non-null  float64
 2   sensor_02       220301 non-null  float64
 3   sensor_03       220301 non-null  float64
 4   sensor_04       220301 non-null  float64
 5   sensor_05       220301 non-null  float64
 6   sensor_06       215522 non-null  float64
 7   sensor_07       214869 non-null  float64
 8   sensor_08       215213 non-null  float64
 9   sensor_09       215725 non-null  float64
 10  sensor_10       220301 non-null  float64
 11  sensor_11       220301 non-null  float64
 12  sensor_12       220301 non-null  float64
 13  sensor_13       220301 non-null  float64
 14  sensor_14       220299 non-null  float64
 15  sensor_16       220289 non-null  float64
 16  sensor_17       220274 non-null  float64
 17  sensor_18       220274 non-null  float64
 18  sensor_19       220304 non-null  float64
 19  sensor_20       220304 non-null  float64
 20  sensor_21       220304 non-null  float64
 21  sensor_22       220279 non-null  float64
 22  sensor_23       220304 non-null  float64
 23  sensor_24       220304 non-null  float64
 24  sensor_25       220284 non-null  float64
 25  sensor_26       220300 non-null  float64
 26  sensor_27       220304 non-null  float64
 27  sensor_28       220304 non-null  float64
 28  sensor_29       220248 non-null  float64
 29  sensor_30       220059 non-null  float64
 30  sensor_31       220304 non-null  float64
 31  sensor_32       220252 non-null  float64
 32  sensor_33       220304 non-null  float64
 33  sensor_34       220304 non-null  float64
 34  sensor_35       220304 non-null  float64
 35  sensor_36       220304 non-null  float64
 36  sensor_37       220304 non-null  float64
 37  sensor_38       220293 non-null  float64
 38  sensor_39       220293 non-null  float64
 39  sensor_40       220293 non-null  float64
 40  sensor_41       220293 non-null  float64
 41  sensor_42       220293 non-null  float64
 42  sensor_43       220293 non-null  float64
 43  sensor_44       220293 non-null  float64
 44  sensor_45       220293 non-null  float64
 45  sensor_46       220293 non-null  float64
 46  sensor_47       220293 non-null  float64
 47  sensor_48       220293 non-null  float64
 48  sensor_49       220293 non-null  float64
 49  sensor_50       143303 non-null  float64
 50  sensor_51       204937 non-null  float64
 51  machine_status  220320 non-null  int32
dtypes: float64(51), int32(1)
memory usage: 86.6 MB

In [16]:
# Now we need to check fot the null values in each column
for  col in df_a.columns:
    print(col,df_a[col].isna().sum())

sensor_00 10208
sensor_01 369
sensor_02 19
sensor_03 19
sensor_04 19
sensor_05 19
sensor_06 4798
sensor_07 5451
sensor_08 5107
sensor_09 4595
sensor_10 19
sensor_11 19
sensor_12 19
sensor_13 19
sensor_14 21
sensor_16 31
sensor_17 46
sensor_18 46
sensor_19 16
sensor_20 16
sensor_21 16
sensor_22 41
sensor_23 16
sensor_24 16
sensor_25 36
sensor_26 20
sensor_27 16
sensor_28 16
sensor_29 72
sensor_30 261
sensor_31 16
sensor_32 68
sensor_33 16
sensor_34 16
sensor_35 16
sensor_36 16
sensor_37 16
sensor_38 27
sensor_39 27
sensor_40 27
sensor_41 27
sensor_42 27
sensor_43 27
sensor_44 27
sensor_45 27
sensor_46 27
sensor_47 27
sensor_48 27
sensor_49 27
sensor_50 77017
sensor_51 15383
machine_status 0

## CASE I : DROPPING THE NULL VALUES.

In [17]:
# Considering the nature of our data set we cant' fill the null values with mean/mode of data.
# We will first try and implement a model by dropping all the null values.
df_b = df_a.dropna()

In [18]:
for  col in df_b.columns:
    print(col,df_b[col].isna().sum())

sensor_00 0
sensor_01 0
sensor_02 0
sensor_03 0
sensor_04 0
sensor_05 0
sensor_06 0
sensor_07 0
sensor_08 0
sensor_09 0
sensor_10 0
sensor_11 0
sensor_12 0
sensor_13 0
sensor_14 0
sensor_16 0
sensor_17 0
sensor_18 0
sensor_19 0
sensor_20 0
sensor_21 0
sensor_22 0
sensor_23 0
sensor_24 0
sensor_25 0
sensor_26 0
sensor_27 0
sensor_28 0
sensor_29 0
sensor_30 0
sensor_31 0
sensor_32 0
sensor_33 0
sensor_34 0
sensor_35 0
sensor_36 0
sensor_37 0
sensor_38 0
sensor_39 0
sensor_40 0
sensor_41 0
sensor_42 0
sensor_43 0
sensor_44 0
sensor_45 0
sensor_46 0
sensor_47 0
sensor_48 0
sensor_49 0
sensor_50 0
sensor_51 0
machine_status 0

In [18]:
df_b.head()

,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,1
1,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,1
2,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,15.61777,15.01013,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,1
3,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,15.69734,15.08247,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,1
4,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,15.69734,15.08247,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,1

### Standardizing the Data using Min Max Scaler

In [19]:
scaler = MinMaxScaler()
df_std = scaler.fit_transform(df_b.iloc[:,:51])
df_std = pd.DataFrame(df_std)
df_std.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,0.967194,0.739583,0.873046,0.872093,0.943770,0.764598,0.626734,0.683630,0.638905,0.602026,...,0.019658,0.047664,0.057143,0.181429,0.069791,0.04363,0.292178,0.186992,0.221197,0.178327
1,0.967194,0.739583,0.873046,0.872093,0.943770,0.764598,0.626734,0.683630,0.638905,0.602026,...,0.019658,0.047664,0.057143,0.181429,0.069791,0.04363,0.292178,0.186992,0.221197,0.178327
2,0.959089,0.747396,0.873046,0.877907,0.950518,0.735461,0.622673,0.679645,0.640988,0.600290,...,0.019658,0.046711,0.055639,0.180000,0.070788,0.04363,0.287653,0.184282,0.219410,0.180709
3,0.965264,0.739583,0.871093,0.877907,0.934427,0.769891,0.622335,0.688535,0.644259,0.603184,...,0.018803,0.043851,0.054135,0.177143,0.070788,0.04363,0.287653,0.182927,0.218517,0.180113
4,0.959475,0.740885,0.873046,0.877907,0.946884,0.765891,0.624027,0.687002,0.644259,0.603184,...,0.018803,0.045758,0.052632,0.178571,0.072782,0.04712,0.292825,0.181572,0.220304,0.178327

In [20]:
df_std.describe()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
count,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,...,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000,119103.000000
mean,0.921473,0.766555,0.799355,0.694445,0.913302,0.751116,0.617699,0.670541,0.621915,0.593828,...,0.034194,0.054237,0.062300,0.064836,0.051080,0.076221,0.206331,0.121762,0.174544,0.172892
std,0.176496,0.070457,0.130480,0.129773,0.128936,0.147084,0.077619,0.073496,0.068577,0.066421,...,0.027546,0.032545,0.037113,0.048961,0.040468,0.049966,0.126110,0.058382,0.053160,0.079778
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.953300,0.731771,0.767578,0.616279,0.932697,0.727034,0.620981,0.665543,0.620464,0.600290,...,0.023932,0.039085,0.040602,0.041429,0.030907,0.048866,0.109890,0.092141,0.153915,0.154808
50%,0.962949,0.768229,0.822265,0.703488,0.940310,0.772455,0.629442,0.683630,0.627602,0.603184,...,0.032479,0.050524,0.057143,0.055714,0.043868,0.068063,0.177763,0.109756,0.176541,0.172373
75%,0.970668,0.804687,0.873046,0.784883,0.947403,0.815661,0.636886,0.687002,0.638905,0.604631,...,0.040171,0.062917,0.075188,0.072857,0.058824,0.090750,0.281836,0.134146,0.202441,0.190533
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### MODEL IMPLEMENTATION ON CASE- I

In [21]:
X1=df_std
X1

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,0.967194,0.739583,0.873046,0.872093,0.943770,0.764598,0.626734,0.683630,0.638905,0.602026,...,0.019658,0.047664,0.057143,0.181429,0.069791,0.043630,0.292178,0.186992,0.221197,0.178327
1,0.967194,0.739583,0.873046,0.872093,0.943770,0.764598,0.626734,0.683630,0.638905,0.602026,...,0.019658,0.047664,0.057143,0.181429,0.069791,0.043630,0.292178,0.186992,0.221197,0.178327
2,0.959089,0.747396,0.873046,0.877907,0.950518,0.735461,0.622673,0.679645,0.640988,0.600290,...,0.019658,0.046711,0.055639,0.180000,0.070788,0.043630,0.287653,0.184282,0.219410,0.180709
3,0.965264,0.739583,0.871093,0.877907,0.934427,0.769891,0.622335,0.688535,0.644259,0.603184,...,0.018803,0.043851,0.054135,0.177143,0.070788,0.043630,0.287653,0.182927,0.218517,0.180113
4,0.959475,0.740885,0.873046,0.877907,0.946884,0.765891,0.624027,0.687002,0.644259,0.603184,...,0.018803,0.045758,0.052632,0.178571,0.072782,0.047120,0.292825,0.181572,0.220304,0.178327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119098,0.970668,0.680989,0.812500,0.880814,0.947057,0.850438,0.643655,0.679645,0.623141,0.604631,...,0.049573,0.053384,0.057143,0.067143,0.095713,0.078534,0.318681,0.120596,1.000000,0.179815
119099,0.971440,0.680990,0.812500,0.880814,0.924911,0.841146,0.649408,0.688535,0.634146,0.603184,...,0.048718,0.058151,0.057143,0.067143,0.093719,0.085515,0.318681,0.120596,1.000000,0.178029
119100,0.968352,0.682292,0.810546,0.880814,0.931659,0.849958,0.650761,0.683630,0.630875,0.604631,...,0.047863,0.061964,0.057143,0.065714,0.088734,0.092496,0.314156,0.120596,1.000000,0.177731
119101,0.972598,0.680990,0.812500,0.880814,0.940137,0.856715,0.643993,0.688535,0.614217,0.602026,...,0.048718,0.064824,0.060150,0.067143,0.083749,0.101222,0.302521,0.120596,1.000000,0.176838
119102,0.967580,0.680989,0.812500,0.880814,0.938580,0.850907,0.647039,0.685162,0.615110,0.604631,...,0.048718,0.065777,0.063158,0.071429,0.078764,0.111693,0.294118,0.120596,1.000000,0.176243

In [22]:
Y1=df_b['machine_status']
Y1

0         1
1         1
2         1
3         1
4         1
         ..
143319    1
143320    1
143321    1
143322    1
143323    1
Name: machine_status, Length: 119103, dtype: int32

In [145]:
# Splitting the data
X1_train,X1_test,Y1_train,Y1_test=train_test_split(X1,Y1,test_size=0.3)

#### Logistic Regression (Model 1)

In [48]:
LR = LogisticRegression(C = 0.2)
model1 = LR.fit(X1_train,Y1_train)
Y_pred1= model1.predict(X1_test)

In [49]:
print("The confusion matrix for Logistic Regression is :\n" ,confusion_matrix(Y1_test,Y_pred1))
print(' The RMSE score for Logistic Regression is : \n',np.sqrt(mean_squared_error(Y1_test , Y_pred1)))
print(' The R2 score for Logistic Regression is :\n',r2_score(Y1_test , Y_pred1))
# print('The roc_auc_score is: \n',roc_auc_score(Y1_test,Y_pred1))

The confusion matrix for Logistic Regression is :
 [[  841    41]
 [   85 34764]]
 The RMSE score for Logistic Regression is :
 0.05938307560538785
 The R2 score for Logistic Regression is :
 0.8535272584169253

#### Decision Tree (Model 2)

In [109]:
DT = DecisionTreeClassifier(max_depth =2 )
model2= DT.fit(X1_train,Y1_train)
Y_pred2 = model2.predict(X1_test)

In [110]:
print("The confusion matrix for Decision Tree Classifier is :\n" ,confusion_matrix(Y1_test,Y_pred2))
print(' The RMSE score for Decision Tree Classifier is : \n',np.sqrt(mean_squared_error(Y1_test , Y_pred2)))
print(' The R2 score for Decision Tree Classifier is :\n',r2_score(Y1_test , Y_pred2))
# print('The roc_auc_score is: \n',roc_auc_score(Y1_test,Y_pred2))

The confusion matrix for Decision Tree Classifier is :
 [[  813    69]
 [    6 34843]]
 The RMSE score for Decision Tree Classifier is :
 0.04581503748481762
 The R2 score for Decision Tree Classifier is :
 0.9128138442957888

#### KNN Classifer (Model 3)

In [118]:
KNN = KNeighborsClassifier(n_neighbors=4,weights='uniform')
model3 = KNN.fit(X1_train, Y1_train)
y_pred3 = model3.predict(X1_test)

In [132]:

print(mean_absolute_error(Y1_test, y_pred3))

0.00030785592342783577

In [119]:
print("The confusion matrix for KNN Classifer is :\n" ,confusion_matrix(Y1_test,y_pred3))
print(' The RMSE score for KNN Classifer is : \n',np.sqrt(mean_squared_error(Y1_test , y_pred3)))
print(' The R2 score for KNN Classifer is :\n',r2_score(Y1_test , y_pred3))
# print('The roc_auc_score is: \n',roc_auc_score(Y1_test,y_pred3))

The confusion matrix for KNN Classifer is :
 [[  881     1]
 [   10 34839]]
 The RMSE score for KNN Classifer is :
 0.017545823532334862
 The R2 score for KNN Classifer is :
 0.9872126971633823

### CASE II : Filling the null values in the df with 0.

In [82]:
df_c = df_a.fillna(0)

In [83]:
for  col in df_c.columns:
    print(col,df_c[col].isna().sum())

sensor_00 0
sensor_01 0
sensor_02 0
sensor_03 0
sensor_04 0
sensor_05 0
sensor_06 0
sensor_07 0
sensor_08 0
sensor_09 0
sensor_10 0
sensor_11 0
sensor_12 0
sensor_13 0
sensor_14 0
sensor_16 0
sensor_17 0
sensor_18 0
sensor_19 0
sensor_20 0
sensor_21 0
sensor_22 0
sensor_23 0
sensor_24 0
sensor_25 0
sensor_26 0
sensor_27 0
sensor_28 0
sensor_29 0
sensor_30 0
sensor_31 0
sensor_32 0
sensor_33 0
sensor_34 0
sensor_35 0
sensor_36 0
sensor_37 0
sensor_38 0
sensor_39 0
sensor_40 0
sensor_41 0
sensor_42 0
sensor_43 0
sensor_44 0
sensor_45 0
sensor_46 0
sensor_47 0
sensor_48 0
sensor_49 0
sensor_50 0
sensor_51 0
machine_status 0

In [86]:
df_stda = scaler.fit_transform(df_c.iloc[:,:51])
df_stda = pd.DataFrame(df_stda)
df_stda.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,0.967194,0.830145,0.949651,0.960396,0.792969,0.764598,0.602731,0.683630,0.639334,0.602141,...,0.084899,0.102613,0.039641,0.205059,0.137500,0.125834,0.281298,0.145794,0.243056,0.201389
1,0.967194,0.830145,0.949651,0.960396,0.792969,0.764598,0.602731,0.683630,0.639334,0.602141,...,0.084899,0.102613,0.039641,0.205059,0.137500,0.125834,0.281298,0.145794,0.243056,0.201389
2,0.959089,0.834736,0.949651,0.962196,0.798611,0.735461,0.598829,0.679645,0.641414,0.600405,...,0.084899,0.101976,0.039352,0.204155,0.138281,0.125834,0.277692,0.144548,0.241319,0.203704
3,0.965264,0.830145,0.948877,0.962196,0.785156,0.769891,0.598505,0.688535,0.644682,0.603299,...,0.084203,0.100064,0.039062,0.202349,0.138281,0.125834,0.277692,0.143925,0.240451,0.203125
4,0.959475,0.830910,0.949651,0.962196,0.795573,0.765891,0.600130,0.687002,0.644682,0.603299,...,0.084203,0.101338,0.038773,0.203252,0.139844,0.127741,0.281814,0.143302,0.242188,0.201389

### MODEL IMPLEMENTATION ON CASE- II

In [88]:
X1 = df_stda
X1

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,0.967194,0.830145,0.949651,0.960396,0.792969,0.764598,0.602731,0.683630,0.639334,0.602141,...,0.084899,0.102613,0.039641,0.205059,0.137500,0.125834,0.281298,0.145794,0.243056,0.201389
1,0.967194,0.830145,0.949651,0.960396,0.792969,0.764598,0.602731,0.683630,0.639334,0.602141,...,0.084899,0.102613,0.039641,0.205059,0.137500,0.125834,0.281298,0.145794,0.243056,0.201389
2,0.959089,0.834736,0.949651,0.962196,0.798611,0.735461,0.598829,0.679645,0.641414,0.600405,...,0.084899,0.101976,0.039352,0.204155,0.138281,0.125834,0.277692,0.144548,0.241319,0.203704
3,0.965264,0.830145,0.948877,0.962196,0.785156,0.769891,0.598505,0.688535,0.644682,0.603299,...,0.084203,0.100064,0.039062,0.202349,0.138281,0.125834,0.277692,0.143925,0.240451,0.203125
4,0.959475,0.830910,0.949651,0.962196,0.795573,0.765891,0.600130,0.687002,0.644682,0.603299,...,0.084203,0.101338,0.038773,0.203252,0.139844,0.127741,0.281814,0.143302,0.242188,0.201389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220315,0.944423,0.840857,0.901627,0.894689,0.793403,0.645910,0.679454,0.705702,0.642899,0.606482,...,0.080724,0.093690,0.068287,0.163505,0.130469,0.135367,0.378156,0.330841,0.000000,0.231192
220316,0.941721,0.840857,0.902401,0.894689,0.788628,0.658337,0.681079,0.707848,0.642899,0.604745,...,0.080028,0.093690,0.066840,0.158085,0.129687,0.134414,0.380732,0.336449,0.000000,0.231192
220317,0.940178,0.840857,0.901627,0.894689,0.782407,0.672945,0.678153,0.707848,0.644682,0.604745,...,0.080724,0.095602,0.065394,0.152665,0.129687,0.134414,0.386914,0.334579,0.000000,0.232060
220318,0.944037,0.840857,0.901627,0.894689,0.794560,0.650918,0.679454,0.702023,0.646465,0.604745,...,0.080724,0.099426,0.064236,0.149052,0.130469,0.133460,0.396188,0.331464,0.000000,0.234086
220319,0.940178,0.840857,0.901627,0.894689,0.799768,0.654564,0.679454,0.705702,0.642899,0.600405,...,0.080724,0.101338,0.062789,0.144535,0.132031,0.132507,0.404946,0.323988,0.000000,0.234086

In [89]:
Y1 = df_c['machine_status']
Y1

0         1
1         1
2         1
3         1
4         1
         ..
220315    1
220316    1
220317    1
220318    1
220319    1
Name: machine_status, Length: 220320, dtype: int32

In [ ]:
#  SPLITTING THE DATA SET. USING 70-30 SPLIT.

In [90]:
X2_train,X2_test,Y2_train,Y2_test=train_test_split(X1,Y1,test_size=0.3)

## MODELS

#### Logistic regression Model 4

In [91]:
model4 = LR.fit(X2_train,Y2_train)
Y_pred4= model1.predict(X2_test)

In [94]:
print("The confusion matrix for Logistic Regression is :\n" ,confusion_matrix(Y2_test,Y_pred4))
print(' The RMSE score for Logistic Regression is : \n',np.sqrt(mean_squared_error(Y2_test , Y_pred4)))
print(' The R2 score for Logistic Regression is :\n',r2_score(Y2_test , Y_pred4))
# print('The roc_auc_score is: \n',roc_auc_score(Y2_test,Y_pred4))

The confusion matrix for Logistic Regression is :
 [[ 4286    28]
 [  155 61627]]
 The RMSE score for Logistic Regression is :
 0.05261843852321771
 The R2 score for Logistic Regression is :
 0.9546179444085082

#### Decision tree Model 5

In [95]:
model5= DT.fit(X2_train,Y2_train)
Y_pred5 = model2.predict(X2_test)

In [96]:
print("The confusion matrix for Decision Tree is :\n" ,confusion_matrix(Y2_test,Y_pred5))
print(' The RMSE score for Decision Tree is : \n',np.sqrt(mean_squared_error(Y2_test , Y_pred5)))
print(' The R2 score for Decision Tree is :\n',r2_score(Y2_test , Y_pred5))
# print('The roc_auc_score is: \n',roc_auc_score(Y2_test,Y_pred5))

The confusion matrix for Decision Tree is :
 [[ 4308     6]
 [    7 61775]]
 The RMSE score for Decision Tree is :
 0.014024393452705591
 The R2 score for Decision Tree is :
 0.9967761381273804

#### K Neighbors Classifier Model 6

In [97]:
model6 = KNN.fit(X2_train, Y2_train)
y_pred6 = model3.predict(X2_test)

In [100]:
print("The confusion matrix for K Neighbors Classifier is :\n" ,confusion_matrix(Y2_test,y_pred6))
print(' The RMSE score for K Neighbors Classifier is : \n',np.sqrt(mean_squared_error(Y2_test , y_pred6)))
print(' The R2 score for K Neighbors Classifier is :\n',r2_score(Y2_test , y_pred6))
# print('The roc_auc_score is: \n',roc_auc_score(Y2_test,y_pred6))

The confusion matrix for K Neighbors Classifier is :
 [[ 4303    11]
 [    6 61776]]
 The RMSE score for K Neighbors Classifier is :
 0.016037507477489606
 The R2 score for K Neighbors Classifier is :
 0.9957841806281128